<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static css_file %}">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Taskie Baskie</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'boards' %}">Other Boards</a>
              </li>
            </ul>
              <div class="d-flex">
              {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-2">Log out</a>
              {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-primary ms-2">Log in</a>
                  <a href="{% url 'register' %}" class="btn btn-outline-success ms-2">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>
    <div class="center_div">
        
    </div>
    <h1>{{ username }}'s Board</h1>
    <form method="get" class="filter_status" novalidate>
        {% csrf_token %}
        <label>Status: </label>
        <select name="status" id="status">
            <option value="All">All</option>
            <option value="done">Done</option>
            <option value="in_progress">In Progress</option>
            <option value="not_done">Not Done</option>
        </select>
        <label>Priority: </label>
        <select name="priority" id="priority">
            <option value="All">All</option>
            <option value="urgent">Urgent</option>
            <option value="not_urgent">Not Urgent</option>
        </select>
        <button type="submit" class="filter">Filter</button>
        <button type="submit" name="reset_filter" class="filter_reset">Reset Filters</button>
        
    </form>
    <div class="task_div">
    {% for task in tasks %}
    <div class="task">
        <h2 class="title">{{task.title}}</h2>
        <br>
        <div class="description">{{task.description}}</div>
        <div class="priority">{{task.get_priority_display }}</div>
        <div class="created_at" onclick="open_date(this)">{{ task.created_at|date:"F j" }}</div>
        <div class="date" onclick="close_date(this)">{{ task.created_at }}</div>
        <div class="deadline">{{task.deadline|date:"F j H:i"}}</div>
        <div class="status">{{task.get_status_display}}</div>
        <a href="{% url 'detailed_task' task_id=task.id %}" class="openpopup">More...</a>
    </div>
    {% endfor %}
    </div>
    {% if popup %}
    <div id="overlay1" style="display: block;"></div>
    <div id="detailed_task_dialog" style="display: block;">
        <h2>Info about Task</h2>

        <form method="post" novalidate>
            {% csrf_token %}
                <div class="vertical_form" style="pointer-events: none;">
                    <div class="mb-3">
                        <div>{{ form.title.label_tag }}</div>
                        {{ form.title }}

                        {% if form.title.errors %}
                            <div class="text-danger">{{ form.title.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <div>{{ form.description.label_tag }}</div>
                        {{ form.description }}

                        {% if form.description.errors %}
                            <div class="text-danger">{{ form.description.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <div>{{ form.status.label_tag }}</div>
                        {{ form.status }}

                        {% if form.status.errors %}
                            <div class="text-danger">{{ form.status.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <div>{{ form.priority.label_tag }}</div>
                        {{ form.priority }}

                        {% if form.priority.errors %}
                            <div class="text-danger">{{ form.priority.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <div>{{ form.deadline.label_tag }}</div>
                        {{ form.deadline }}

                        {% if form.deadline.errors %}
                            <div class="text-danger">{{ form.deadline.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            <button type="submit" name='cancel' value='cancel' class="close_btn">
                Close
            </button>
        </form>
        <form method="post" class="comment" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ comment.text.label_tag }}
                {{ comment.text }}
                {% if comment.text.errors %}
                    <div class="text-danger">{{ comment.text.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" name="comment_added" class="btn btn-primary">Add Comment</button>
        </form>
        <hr>
        <h2>Comments</h2>
        {% if comments != "No comments" %}
        {% for comment in comments %}
            <div class="comments">
                <div class="horizontal_date_name"><strong>{{ comment.user.username }}</strong>
                {% if comment.id in task_author %}
                <p>Author</p>
                {% endif %}
                <p>{{ comment.date }}</p></div>
                <p>{{ comment.text }}</p>
                
            </div>
        {% endfor %}
        {% endif %}
        {% if comments == "No comments" %}
            <p>No comments yet. Be the first to comment.</p>
        {% endif %}
        
        
    </div>
    {% endif %}
    
    <script>
        function open_date(element) {
            const fullDate = element.nextElementSibling;
            fullDate.style.display = 'block';
        }

        function close_date(element) {
            element.style.display = 'none';
        }
        function open_detailed_task() {
            document.getElementById(
                "overlay1"
            ).style.display = "block";
            document.getElementById(
                "detailed_task_dialog"
            ).style.display = "block";
        }
        function close_detailed_task() {
            document.getElementById(
                "overlay1"
            ).style.display = "none";
            document.getElementById(
                "detailed_task_dialog"
            ).style.display = "none";
        }
    </script>
        
</body>
</html>