<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static css_file %}">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
</head>
<body>
    <div class="center_div">
        <h1>List of our tasks</h1>
    </div>
    <form method="get" action="{% url 'filter' %}" novalidate>
        {% csrf_token %}
        <select name="status" id="status">
            <option value="">All</option>
            <option value="done">Done</option>
            <option value="in_progress">In Progress</option>
            <option value="not_done">Not Done</option>
        </select>
        <button type="submit">Filter</button>
        
    </form>
    {% for task in tasks %}
    <div class="rect">
        <h2>{{task.title}}</h2>
        <p>{{task.description}}</p>
        <div class="rect_element">{{task.priority}}</div>
        <div class="rect_element1">{{ task.created_at }}</div>
        <div class="rect_element2">{{task.deadline}}</div>
        <div class="rect_element3">{{task.status}}</div>
        <button class="openpopup">More...</button>
        <p>The month is: <span id="month"></span></p>
    </div>
    {% endfor %}
    
    <script>
        const string = "{{task.created_at}}";
        console.log("Date string:", string);
        const date = new Date(string);
        const month = date.toLocaleString('en-US', { month: 'long', day:"numeric" });
        document.getElementById("month").textContent = month;
    </script>
        
</body>
</html>