{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<h1 class="h2_white">Log in</h1>
<div class="register">
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="label" for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
    </div>

    <div class="form-group">
        <label class="label" for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label class="label" for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </div>
    <button type="submit" class="button_new">Log in</button>
</form>
<a href="{% url 'register' %}" class="button_new">Register</a>
{% if error %}
    <p style="color:rgb(148, 0, 0);">{{ error }}</p>
{% endif %}
</div>