body {
    background-color: #000000;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
}

@font-face {
    font-family: 'AndersonGrotesk'; 
    src: url('../static/albums/fonts/AndersonGroteskBlack.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}


h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #d1d1d1;
    margin-top: 55px;
    margin-left: 50px;
}

h3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: #f1f1f1;
    font-size: 18px;
}

h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: #111111;
    font-size: 25px;
}

.h2_white {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 55px;
}

.center_div {
    margin: 0 auto;
    max-width: 800px;
}

.loginform label {
    color: #ccc;
}

.loginform {
    color: #7c7c7c;
}

.horizontal_date_name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.horizontal_date_name p {
    margin: 0;
    size: 16px;
}

.label {
    color: #dbdbdb!important;
}

.register {
    display: flex; 
    flex-direction: column;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 55px;
    width: 50%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 50px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.horizontal h3 {
    margin: 0;
    padding: 0 10px;
    width: 22%; 
    text-align: left;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info h3 {
    margin: 0;
    padding: 0 10px;
    width: 25%;
    text-align: left;
}

.vertical {
    display: flex; 
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.vertical_form {
    display: flex; 
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.horizontal1 {
    display: flex; 
    flex-direction: row;
}

.buttons_group {
    margin-left: 45px;
}

.buttons_group_home {
    margin-left: 0px;
}

.buttons_group_buttons_edit {
    width: 61px;
    height: 35px;
    background-color: #23008b;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f0f0f0;
    transition: background-color 0.3s ease;
    border-color: #140052;
}

.buttons_group_buttons_edit:hover {
    background-color: #25319e;
}

.buttons_group_buttons_delete {
    width: 61px;
    height: 35px;
    background-color: #8b1000;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f0f0f0;
    transition: background-color 0.3s ease;
    border-color: #470b00;
}

.buttons_group_buttons_delete:hover {
    background-color: #b34132;
}

.comments_div {
    margin-left: 50px;
    height: 300px;
}

#edit_form {
    display: none;
}

#delete_form {
    display: none;
}

.reply {
    background-color: #ebebeb;
    border-radius: 15px 15px 15px 15px;
    min-height: 65px;
    width: 355px;
    padding: 10px;
    margin-top: 5px;
}

.vertical_div {
    display: flex; 
    flex-direction: column;
}

.horizontal_comments {
    display: flex; 
    flex-direction: row;
}

.vertical_form label {
    margin-top: 25px;
}

.add_btn {
    margin-top: 25px;
    width: 400px;
    height: 35px;
    background-color: rgb(255, 97, 76);
    transition: background-color 0.3s ease;
    border-color: #b32400;
}

.add_btn:hover {
    background-color: rgb(248, 135, 120);
}

.close_btn {
    margin-top: 5px;
    width: 400px;
    height: 35px;
    margin-left: 25px;
    background-color: rgb(119, 119, 119);
    transition: background-color 0.3s ease;
    border-color: #3f3f3f;
}

.close_btn:hover {
    background-color: rgb(148, 148, 148);
}

.task {
    width: 350px;
    height: 250px;
    position: relative;
    background: #ccc;
    border: 1px solid #333;
    padding: 15px 15px 15px 15px;
    margin-left: 50px;
    margin-top: 55px;
}

.description {
    width: 300px;
    height: 95px;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
    overflow: auto;
}
  
.priority {
    width: 105px;
    height: 35px;
    background: rgb(255, 187, 0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.created_at {
    width: 75px;
    height: 55px;
    background: rgb(89, 179, 67);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
    transition: background-color 0.3s ease;
}

.created_at:hover {
    background-color: rgb(184, 66, 37);
}

.deadline {
    width: 115px;
    height: 55px;
    background: rgb(67, 153, 179);
    position: absolute;
    left: 75px; 
    bottom: 0;
    z-index: 0;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.status {
    width: 105px;
    height: 35px;
    background: rgb(128, 135, 230);
    position: absolute;
    right: 0; 
    top: 35px;
    z-index: 0;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.openpopup {
    width: 105px;
    height: 55px;
    background: rgb(255, 92, 51);
    position: absolute;
    right: 0; 
    bottom: 0;
    z-index: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: rgb(218, 44, 0);
    color: #111111;

    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.openpopup:hover {
    background-color: rgb(184, 66, 37);
}

.filter_reset {
    width: 100px;
    height: 31px;
    background: rgb(255, 92, 51);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: rgb(204, 31, 0);
    color: #111111;

    display: inline-block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.filter_reset:hover {
    background-color: rgb(184, 66, 37);
}

.filter {
    width: 100px;
    height: 31px;
    background: rgb(90, 184, 207);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: rgb(51, 132, 255);
    color: #111111;

    display: inline-block;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 15px;

}

.filter:hover {
    background-color: rgb(40, 104, 199);
}

.comments {
    max-height: 330px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.comment {
    margin-top: 15px;
}

.openboard {
    width: 348px;
    height: 55px;
    background: rgb(255, 92, 51);
    position: absolute;
    left: 0; 
    bottom: 0;
    z-index: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: rgb(158, 32, 0);
    color: #111111;

    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.openboard:hover {
    background-color: rgb(184, 66, 37);
}

.delete {
    width: 35px;
    height: 35px;
    background: rgb(163, 163, 163);
    position: absolute;
    left: 0; 
    top: 0;
    z-index: 0;
    color: #111111;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 21px;
    border-color: #444444;

}

.delete:hover {
    background-color: rgb(184, 66, 37);
}



.title {
    margin-top: 23px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #23008b;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    border-color: #140052;
}

.button:hover {
    background-color: rgb(34, 51, 201);
}

.filter_status {
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Hanken Grotesk', sans-serif;

}

.filter_status label {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #ccc;
    margin-right: 5px;
    margin-left: 5px;
}

#add_task_dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#detailed_task_dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    width: 950px;
    max-width: 90%;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.delete_popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button_new {
    display: inline-block;
    padding: 10px 20px;
    background-color: #23008b;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    border-color: #12043d;
    width: 100%;
}

.button_new:hover {
    background-color: rgb(34, 51, 201);
}

.button_new1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #23008b;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    border-color: #12043d;
    width: 100%;
}

.button_new1:hover {
    background-color: rgb(34, 51, 201);
}

.date {
    display: none;
    margin-top: 200px;
    margin-left: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    width: 250px;
    max-width: 90%;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* translucent black */
    z-index: 999; /* on top of normal content */
}

#add_task_dialog h2 {
    margin-left: 180px;
}

.task_div {
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.add_task {
    margin-left: 50px;
    margin-top: 25px;
    width: 155px;
    height: 45px;
    background-color: rgb(255, 92, 51);
    font-family: 'Hanken Grotesk', sans-serif;
    color: #141414;
    transition: background-color 0.3s ease;
    border-color: rgb(148, 50, 26);
}

.add_task:hover {
    background-color: rgb(255, 125, 93);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.draggable_area {
    position: relative;
    width: 100%;
    height: 500px;
    background: lightgray;
    overflow: hidden;
}
