body {
    background-color: #000000;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
}

@font-face {
    font-family: 'AndersonGrotesk'; 
    src: url('../static/albums/fonts/AndersonGroteskBlack.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}


h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #d1d1d1;
    margin-top: 55px;
    margin-left: 50px;
}

h3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: #f1f1f1;
    font-size: 18px;
}

h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: #111111;
    font-size: 25px;
}

.center_div {
    margin: 0 auto;
    max-width: 800px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 50px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.horizontal h3 {
    margin: 0;
    padding: 0 10px;
    width: 22%; 
    text-align: left;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info h3 {
    margin: 0;
    padding: 0 10px;
    width: 25%;
    text-align: left;
}

.vertical {
    display: flex; 
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.vertical_form {
    display: flex; 
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

.vertical_form label {
    margin-top: 25px;
}

.add_btn {
    margin-top: 25px;
    width: 400px;
    height: 35px;
    background-color: rgb(255, 97, 76);
}

.close_btn {
    margin-top: 5px;
    width: 400px;
    height: 35px;
    margin-left: 25px;
    background-color: rgb(119, 119, 119);
}

.task {
    width: 350px;
    height: 250px;
    position: relative;
    background: #ccc;
    border: 1px solid #333;
    padding: 15px 15px 15px 15px;
    margin-left: 50px;
    margin-top: 55px;
}
  
.priority {
    width: 105px;
    height: 35px;
    background: rgb(255, 187, 0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.created_at {
    width: 65px;
    height: 55px;
    background: rgb(89, 179, 67);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.deadline {
    width: 115px;
    height: 55px;
    background: rgb(67, 153, 179);
    position: absolute;
    left: 65px; 
    bottom: 0;
    z-index: 0;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.status {
    width: 105px;
    height: 35px;
    background: rgb(94, 102, 209);
    position: absolute;
    right: 0; 
    top: 35px;
    z-index: 0;
    padding: 5px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.openpopup {
    width: 105px;
    height: 55px;
    background: rgb(255, 92, 51);
    position: absolute;
    right: 0; 
    bottom: 0;
    z-index: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: rgb(51, 132, 255);

}

.filter_status {
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Hanken Grotesk', sans-serif;

}

.filter_status label {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #ccc;
    margin-right: 5px;
    margin-left: 5px;
}

#add_task_dialog {
    display: none;
    position: fixed;
    width: 500px;
    height: 550px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 300px;
    margin-bottom: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#add_task_dialog h2 {
    margin-left: 180px;
}

.task_div {
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.add_task {
    margin-left: 50px;
    margin-top: 25px;
    width: 100px;
    height: 35px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.draggable_area {
    position: relative;
    width: 100%;
    height: 500px;
    background: lightgray;
    overflow: hidden;
}
